<%= render :partial => "header" %>

<main class="pf-c-page__main pf-l-page__main">
  <section class="pf-l-page-header pf-c-page-header pf-l-page__main-section pf-c-page__main-section pf-m-light">
    <h1 class="pf-c-title pf-m-2xl">
      <span>
        <%= @resources[:approval_web_product] %>
        <span>
        </span>
      </span>
    </h1>
  </section>
  <section class="pf-l-page__main-section pf-c-page__main-section">
    <section class="body" style="background-color: #fff; padding: 16px">
      <div class="pf-c-content info-panel"> 

        <% if response.status != 200 %>
          <% if params[:commit] %>

            <div class="pf-c-alert pf-m-warning" aria-label="Warning alert">
              <div class="pf-c-alert__icon">
                <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
              </div>
              <h4 class="pf-c-alert__title" style="margin-top: 0">
                <span class="pf-screen-reader">Warning alert:</span>
                  Unable to complete action [<%= params[:commit] %>]
          <% else %>
                  Unable to complete the action.
          <% end %>
            </h4>
            <div class="pf-c-alert__description">
              <p>Reason: <%= response.body %></p>
            </div> 
          </div>

        <% else %>
          <div class="pf-c-alert pf-m-success" aria-label="Success alert">
            <div class="pf-c-alert__icon">
              <i class="fas fa-check-circle" aria-hidden="true"></i>
            </div>
            <h4 class="pf-c-alert__title" style="margin-top: 0">
              <span class="pf-screen-reader">Success alert:</span>Your action [<%= params[:commit] %>] has been recorded.</h4>
          </div>

        <% end %>
        
        <% if @order %>
          <h2>Automation Services Catalog request</h2>
          <%= render :partial => "request" %>
        <% end %>
      </div>
      <div>
        <br>
        <a href="https://cloud.redhat.com"><button class="pf-c-button pf-m-primary">Log in to your Red Hat account</button></a>
      </div>
    </section> 
<%= render :partial => "footer" %>
