<%= render :partial => "header" %>
<main class="pf-c-page__main pf-l-page__main">
  <section class="pf-l-page-header pf-c-page-header pf-l-page__main-section pf-c-page__main-section pf-m-light">
    <h1 class="pf-c-title pf-m-2xl">
      <span>
        <%= @resources[:approval_web_product] %>
        <span>
        </span>
      </span>
    </h1>
  </section>
  <section class="pf-l-page__main-section pf-c-page__main-section">
    <section class="body" style="background-color: #fff; padding: 16px">
      <div class="pf-c-content info-panel"> 
        <% if @order %>
          <h2>Approval request ID <%= @order[:order_id] %></h2>
          <div class="pf-l-grid">
            <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl install-title">
              Status:
            </div>
            <div class="pf-m-fill pf-l-grid__item pf-m-12-col-on-xs pf-m-9-col-on-sm pf-m-10-col-on-lg pf-m-10-col-on-xl">
              <% if @order[:status] == "approved" %>
                <span class="pf-c-label pf-m-green pf-m-outline">
                  <span class="pf-c-label__content">
                    <span class="pf-c-label__icon">
                      <i class="fas fa-fw fa-check" aria-hidden="true"></i>
                    </span>Approved</span>
                  </span>
                </span>
              <% elsif @order[:status] == "denied" %>
                <span class="pf-c-label pf-m-red pf-m-outline">
                  <span class="pf-c-label__content">
                    <span class="pf-c-label__icon">
                      <i class="fas fa-fw fa-times" aria-hidden="true"></i>
                    </span>Denied</span>
                  </span>
                </span>
              <% elsif @order[:status] == "error" %>
                <span class="pf-c-label pf-m-red pf-m-outline">
                  <span class="pf-c-label__content">
                    <span class="pf-c-label__icon">
                      <i class="fas fa-fw fa-info-circle" aria-hidden="true"></i>
                    </span>Error</span>
                  </span>
                </span>
              <% else %>
                <span class="pf-c-label pf-m-outline">
                  <span class="pf-c-label__content">
                    <span class="pf-c-label__icon">
                      <i class="fas fa-fw fa-info-circle" aria-hidden="true"></i>
                    </span><%= @order[:status].capitalize %></span>
                  </span>
                </span>
              <% end %>
            </div>
          </div>
          <div class="pf-l-grid">
            <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl install-title">
              Ordered by:
            </div>
            <div class="pf-m-fill pf-l-grid__item pf-m-12-col-on-xs pf-m-9-col-on-sm pf-m-10-col-on-lg pf-m-10-col-on-xl">
              <%= @order[:orderer] %>
              <br>
              (<a href="mailto:<%= @order[:orderer_email] %>">
                <%= @order[:orderer_email] %>
              </a>)
            </div> 
          </div>
          <%= render :partial => "request" %>
        <% end %>
      </div>
      <div>
        <br>
        <a href="https://cloud.redhat.com"><button class="pf-c-button pf-m-primary">Log in to your Red Hat account</button></a>
      </div>
    </section> 
<%= render :partial => "footer" %>
<%= render :partial => "toast" %>
