<%= render :partial => "header" %>
  <main class="pf-c-page__main pf-l-page__main">
    <section class="pf-l-page-header pf-c-page-header pf-l-page__main-section pf-c-page__main-section pf-m-light">
      <h1 class="pf-c-title pf-m-2xl">
        <span>
          <%= @resources[:approval_web_product] %>
        </span>
      </h1>
    </section>
    <section class="pf-l-page__main-section pf-c-page__main-section">
      <section class="body" style="background-color: #fff; padding: 16px">
        <div class="pf-c-content info-panel">  
          <h2>Approval request ID <%= @order[:order_id] %></h2>
          <p id="notice"><%= notice %></p>
          <div class="pf-l-grid">
            <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl install-title">
              Ordered by:
            </div>
            <div class="pf-m-fill pf-l-grid__item pf-m-12-col-on-xs pf-m-9-col-on-sm pf-m-10-col-on-lg pf-m-10-col-on-xl">
              <%= @order[:orderer] %>
              <br>
              (<a href="mailto:<%= @order[:orderer_email] %>">
                <%= @order[:orderer_email] %>
              </a>)
            </div> 
          </div>        
          <%= render :partial => "request" %>
          <br>
        </div>
        <p>
        <div class="install-title">Comment</div>
        <%= form_tag({:action => 'update', :controller => 'stageaction'}, :method => :patch) do %>
          <div class="pf-l-grid pf-m-gutter">
            <%= text_area_tag(:message, '', :class => "pf-l-grid__item pf-m-12-col-on-xs pf-m-6-col-on-sm pf-m-6-col-on-lg pf-m-6-col-on-xl", :style => "height: 100px") %>
          </div>
          <br>
          <%= hidden_field_tag('approver', Base64.encode64(@approver)) %>
          <div>
            <%= button_tag 'Approve', :class => "pf-c-button pf-m-primary", :type => "submit", :name => :commit, :value => "Approve" %>
            <%= button_tag 'Deny', :class => "pf-c-button pf-m-danger", :type => "submit", :name => :commit, :value => "Deny" %>
            <%= button_tag 'Comment', :class => "pf-c-button pf-m-secondary", :type => "submit", :name => :commit, :value => "Memo" %>
          </div>
        <% end %>
      </section>
    </section>
<%= render :partial => "footer" %>
