<%= render :partial => "header" %>
  <main class="pf-c-page__main pf-l-page__main">
    <section class="pf-l-page-header pf-c-page-header pf-l-page__main-section pf-c-page__main-section pf-m-light">
      <h1 class="pf-c-title pf-m-2xl">
        <span>
          <%= @resources[:approval_web_product] %>
        </span>
      </h1>
    </section>
    <section class="pf-l-page__main-section pf-c-page__main-section">
      <section class="body" style="background-color: #fff; padding: 16px">
        <div class="pf-c-content info-panel">  
          <h2>Approval request ID <%= @order[:order_id] %></h2>
          <p id="notice"><%= notice %></p>
          <div class="pf-l-grid">
            <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl install-title">
              Ordered by:
            </div>
            <div class="pf-m-fill pf-l-grid__item pf-m-12-col-on-xs pf-m-9-col-on-sm pf-m-10-col-on-lg pf-m-10-col-on-xl">
              <%= @order[:orderer] %>
              <br>
              (<a href="mailto:<%= @order[:orderer_email] %>">
                <%= @order[:orderer_email] %>
              </a>)
            </div> 
          </div>        
          <%= render :partial => "request" %>
        </div>
        <div><strong>Review the information above and approve or deny this request. If you received this request in error, contact your system administrator.</strong></div>
        <br>
        <div>
          <button class="pf-c-button pf-m-primary" type="button" id="btn_approve" >
            Approve
          </button>
          <button class="pf-c-button pf-m-danger" type="button" id="btn_deny" >
            Deny
          </button>
          <button class="pf-c-button pf-m-secondary" type="button" id="btn_comment" >
            Comment
          </button>
        </div>
      </section>
    </section>

<%= render :partial => "modal" %>
<%= render :partial => "footer" %>

<script>
// Get the modal
var modal_approve = document.getElementById("modal_approve");
var modal_deny = document.getElementById("modal_deny");
var modal_comment = document.getElementById("modal_comment");

// Get the button that opens the modal
var btn_approve = document.getElementById("btn_approve");
var btn_deny = document.getElementById("btn_deny");
var btn_comment = document.getElementById("btn_comment");

// Get the <span> element that closes the modal
var span_approve = document.getElementsByClassName("close_approve")[0];
var span_deny = document.getElementsByClassName("close_deny")[0];
var span_comment = document.getElementsByClassName("close_comment")[0];

// Get the Cancel button that closes the modal
var cancel_btn_approve = document.getElementsByClassName("cancel_btn_approve")[0];
var cancel_btn_deny = document.getElementsByClassName("cancel_btn_deny")[0];
var cancel_btn_comment = document.getElementsByClassName("cancel_btn_comment")[0];

// When the user clicks the button, open the modal 
btn_approve.onclick = function() {
  modal_approve.style.display = "block";
}
btn_deny.onclick = function() {
  modal_deny.style.display = "block";
}
btn_comment.onclick = function() {
  modal_comment.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span_approve.onclick = function() {
  modal_approve.style.display = "none";
}

span_deny.onclick = function() {
  modal_deny.style.display = "none";
}

span_comment.onclick = function() {
  modal_comment.style.display = "none";
}

// When the user clicks the Cancel button, close the modal
cancel_btn_approve.onclick = function() {
  modal_approve.style.display = "none";
}

cancel_btn_deny.onclick = function() {
  modal_deny.style.display = "none";
}

cancel_btn_comment.onclick = function() {
  modal_comment.style.display = "none";
}

</script>

<style>
.modal {
  display: none; /* Hidden by default */
}
</style>

