<%= render :partial => "header" %>
  <main class="pf-c-page__main pf-l-page__main">
    <section class="pf-l-page-header pf-c-page-header pf-l-page__main-section pf-c-page__main-section pf-m-light">
      <h1 class="pf-c-title pf-m-2xl">
        <span>
          <%= @resources[:approval_web_product] %>
          <span>
          </span>
        </span>
      </h1>
    </section>
    <section class="pf-l-page__main-section pf-c-page__main-section">
      <section class="body" style="background-color: #fff; padding: 16px">
        <div class="pf-c-content info-panel">  
          <h2>Catalog Request</h2>
          <p id="notice"><%= notice %></p>
          <%= render :partial => "request" %>
          <br>
          <a href="#" onclick="showDetails()">Show Details</a>
          <div  id="details" style="display:none;" class="pf-l-grid pf-m-gutter">
            <div class="pf-l-grid__item">
              <div class="pf-l-split pf-m-gutter">
                <div class="pf-l-split__item install-title">
                  Order Details
                </div>
                <div class="pf-l-split__item pf-m-fill">
                  <% @order[:order_content].each do |k, v| %>
                    <div class="pf-l-grid__item">
                      <div class="pf-l-split pf-m-gutter">
                        <div class="pf-l-split__item install-title"><%= k %></div>
                        <div class="pf-l-split__item pf-m-fill"><%= v %></div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <p>
          <div class="install-title">Reason/Memo</div>
          <%= form_tag({:action => 'update', :controller => 'stageaction'}, :method => :patch) do %>
          <div class="pf-l-grid pf-m-gutter">
            <%= text_area_tag(:message, '', :class => "pf-l-grid__item pf-m-12-col-on-xs pf-m-6-col-on-sm pf-m-6-col-on-lg pf-m-6-col-on-xl", :style => "height: 100px") %>
          </div>
          <br>
          <%= hidden_field_tag('approver', Base64.encode64(@approver)) %>
          <div class="pf-l-grid pf-m-gutter">
            <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-2-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl">
             <%= button_tag 'Memo', :class => "pf-c-button pf-m-secondary pf-m-block", :type => "submit", :name => :commit, :value => "Memo" %>
            </div>
            <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-2-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl">
              <%= button_tag 'Approve', :class => "pf-c-button pf-m-primary pf-m-block", :type => "submit", :name => :commit, :value => "Approve" %>
            </div>
            <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-2-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl">
              <%= button_tag 'Deny', :class => "pf-c-button pf-m-danger pf-m-block", :type => "submit", :name => :commit, :value => "Deny" %>
            </div>
          <% end %>
          <script>
              function showDetails() {
                  var x = document.getElementById("details");
                  if (x.style.display === "none") {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
              }
          </script>
        </section>
<%= render :partial => "footer" %>
